* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
form,
.auth-block,
.misc-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  background: pink;
  flex-flow: column wrap;
}

.container {
  background: white;
  max-width: 400px;
}

main {
  padding: 1.5rem 1.5rem;
  border-radius: 0.5vw;
  max-width: 500px;
  width: 100%;
  border: 3px solid black;
  border-radius: 15px;
}

form {
  width: 100%;
  flex-direction: column;
}

.auth-block,
.misc-block {
  flex-direction: column;
  width: 100%;
}

.checkbox-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.input-container:not(:last-of-type) {
  margin-bottom: 1rem;
}

.input-container label {
  font-size: 14px;
  margin-bottom: 0.75rem;
}

.input-container input,
.input-container select {
  width: 100%;
}

.input-container input {
  padding: 7.5px 15px;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 0.3vw;
  transition: border-color 0.3s;
  font-size: 14px;
}

.input-container input.input-error-msg,
.input-container input.input-error-msg:focus,
.input-container input.input-error-msg:hover {
  border-color: rgb(235, 16, 16);
}

.input-container input:focus {
  outline: none;
}

.input-container span.input-error-msg {
  font-size: 14px;
  color: rgb(235, 16, 16);
  margin-top: 0.25rem;
}

.auth-block,
.misc-block {
  margin-bottom: 1.75rem;
}

.submit-btn {
  width: 50%;
  min-width: 150px;
  padding: 7.5px 15px;
  border: none;
  border-radius: 0.3vw;
  background: pink;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.input-container .country-select {
  appearance: none;
  font-size: 14px;
  padding: 7.5px 15px;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 0.3vw;
  position: relative;
  transition: border-color 0.3s;
}

.input-container .country-select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: coral;
}

.submit-btn:hover {
  background: rgb(255, 211, 218);
}

